//header.container {
//  border-bottom: 3px solid #000;
//  h1{
//    color: deeppink;
//    transition: all ease .3s;
//    &:hover {
//      color: darkcyan;
//    }
//  }
//}
//:root{
//  --clr-primary: blue;
//}

$tablet-breakpoint: 768px;

h1{
 color: darkseagreen;
  [data-theme="dark"] & {
    color: darksalmon;
  }
  @media (max-width: $tablet-breakpoint) {
    color: blue;
    
  }
}

